@model Lime_Store.Models.Filter
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru_RU">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lime_Time | Главная</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/prettyPhoto.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/mainMeow.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link href="~/css/Themes.css" rel="stylesheet" />
</head><!--/head-->

<body>
    <header class="header" id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 ">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href=""><i class="fa fa-phone"></i> +7 (228)-322-10-30</a></li>
                                <li><a href=""><i class="fa fa-envelope"></i> Isip_d.v.seryak@mpt.ru</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">

                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="@Url.Action("Cart")"><i class="fa fa-shopping-cart"></i> Корзина</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="@Url.Action("Index")">Домашняя страница</a></li>
                                <li class="dropdown">
                                    <a href="#" class="active">Магазин<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="@Url.Action("Shop")" class="active">Товары</a></li>
                                        <li><a href="@Url.Action("Cart")"><i class="fa fa-shopping-cart"></i> Корзина</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("ContactUs")">Поддержка</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="slider">
        <!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#slider-carousel" data-slide-to="1"></li>
                            <li data-target="#slider-carousel" data-slide-to="2"></li>
                            <li data-target="#slider-carousel" data-slide-to="3"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="~/Images/home/banner-1.jpg" class="img-responsive" alt="" />
                            </div>

                            <div class="item">
                                <img src="~/Images/home/banner-2.jpg" class="img-responsive" alt="" />
                            </div>
                            <div class="item">
                                <img src="~/Images/home/banner-3.jpg" class="img-responsive" alt="" />
                            </div>
                            <div class="item">
                                <img src="~/Images/home/banner-4.jpg" class="img-responsive" alt="" />
                            </div>
                        </div>

                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section><!--/slider-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Категории</h2>
                        <div class="panel-group category-products" id="accordian">
                            <!--category-productsr-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            Мужчинам
                                        </a>
                                    </h4>
                                </div>
                                <div id="mens" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            @foreach (var item in Model.brand)
                                            {
                                                if (item.Characteristic.Contains("Мужчинам"))
                                                {
                                                    <li><a href="/Home/Index?BrandName=@item.NameBrand">@item.NameBrand</a></li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#womens">
                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            Женщинам
                                        </a>
                                    </h4>
                                </div>
                                <div id="womens" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            @foreach (var item in Model.brand)
                                            {
                                                if (item.Characteristic.Contains("Женщинам"))
                                                {
                                                    <li><a href="/Home/Index?BrandName=@item.NameBrand">@item.NameBrand</a></li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#upperwear">
                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            Верхняя одежда
                                        </a>
                                    </h4>
                                </div>
                                <div id="upperwear" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            @foreach (var item in Model.brand)
                                            {
                                                if (item.Characteristic.Contains("Верхняя одежда"))
                                                {
                                                    <li><a href="/Home/Index?BrandName=@item.NameBrand">@item.NameBrand</a></li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#shoes">
                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            Обувь
                                        </a>
                                    </h4>
                                </div>
                                <div id="shoes" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            @foreach (var item in Model.brand)
                                            {
                                                if (item.Characteristic.Contains("Обувь"))
                                                {
                                                    <li><a href="/Home/Index?BrandName=@item.NameBrand">@item.NameBrand</a></li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div><!--/category-productsr-->

                        <div class="brands_products">
                            <!--brands_products-->
                            <h2>Бренды</h2>
                            <div class="brands-name">
                                <ul class="nav nav-pills nav-stacked">
                                    @foreach (var item in Model.brand)
                                    {
                                        <li><a href="/Home/Index?BrandName=@item.NameBrand"> <span class="pull-right">(@Model.product.Count(x => x.Brand == item.NameBrand))</span>@item.NameBrand</a></li>
                                    }
                                </ul>
                            </div>
                        </div><!--/brands_products-->
                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <div class="features_items">
                        <!--features_items-->
                        <h2 class="title text-center">Товары</h2>
                        @foreach (var item in Model.product)
                        {
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="@item.PictureMain" />

                                            <h2>@item.Price</h2>
                                            <p>@item.Name</p>
                                            <a href="/Home/ProductDetail?ID=@item.ProductId" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Подробно</a>
                                        </div>
                                        <div class="product-overlay">
                                            <div class="overlay-content">
                                                <h2>@item.Price</h2>
                                                <p>@item.Name</p>
                                                <a href="/Home/ProductDetail?ID=@item.ProductId" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Подробно</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div><!--features_items-->
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <!--Footer-->


        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="single-widget">

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Сервис</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="">Поддержка</a></li>
                                <li><a href="">Контакты</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Товары</h2>
                            <ul class="nav nav-pills nav-stacked">
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">

                        </div>
                    </div>

                </div>
            </div>
        </div>



    </footer><!--/Footer-->

    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/Themes.js"></script>
</body>
</html>

